<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/sub-zero.jpg" alt="">
    </div>
    {{>footer}}
</body>
</html>