<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <div class="main-content">
        {{>header}}
        <p>this site was created by hossein mozafari. it uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="/img/sub-zero.jpg" alt="">
    </div>
    {{>footer}}
</body>
</html>